.css-1dur2uz-MuiPaper-root-MuiDialog-paper {
    overflow: hidden !important;
}
.css-1xqquov-MuiTreeItem-content.Mui-selected{
    background-color: white !important;
}
.css-15v22id-MuiAccordionDetails-root{
    padding: 10px 0px !important;
}